<div id="scrollTop" >
    <div class="level-2"></div>
    <div class="level-3"></div>
</div>
<footer role="contentinfo" class="bs-docs-footer">
    <div class="container">
        <p>Designed and built with all the love in the world by <a target="_blank" href="http://twitter.com/mdo">@mdo</a> and <a target="_blank" href="http://twitter.com/fat">@fat</a>.</p>
        <p>Maintained by the <a href="https://github.com/twbs?tab=members">core team</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</p>
        <p>本项目源码受 <a target="_blank" href="https://github.com/twbs/bootstrap/blob/master/LICENSE">MIT</a> 开源协议保护，文档受 <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a> 开源协议保护。</p>
    </div>
</footer>
<!-- mumayi_top -->
<script type="text/javascript" src="<?php echo STATICROOT;?>/plugin/scrolltop/mumayi_top.js"></script>
</body>
</html>