<div id="scrollTop" >
    <div class="level-2"></div>
    <div class="level-3"></div>
</div>
<footer role="contentinfo" class="bs-docs-footer">
    <div class="container">
        <p>爱是亘古长明的灯塔，它定晴望着风暴却兀不为动，爱就是充实了的生命，正如盛满了酒的酒杯。--<a target="_blank" href="http://zh.wikipedia.org/wiki/%E6%B3%B0%E6%88%88%E5%B0%94">泰戈尔</a></p>
        <p>----
            <a href="http://zh.wikipedia.org/wiki/%E8%87%AA%E7%94%B1" target="_blank">自由</a>
            <a href="http://zh.wikipedia.org/wiki/%E5%BF%AB%E6%A8%82" target="_blank">快乐</a>
            ----
        </p>
        <p>Copyright© 2001-2014<a href="http://weibo.com/aziqing"> 孤单加菲</a></p>
    </div>
</footer>
<!-- mumayi_top -->
<script type="text/javascript" src="<?php echo STATICROOT;?>/plugin/scrolltop/mumayi_top.js"></script>
</body>
</html>