<div class="container" style="margin-top: 60px">
    <div class="input-group" style="padding-top: 2px;width: 400px ">
        <input type="text" class="form-control" placeholder="关键字">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span> 搜索</button>
      </span>
    </div>
    <!-- /input-group -->
    <div style="padding:2px 0 5px 0">
        <a href=""> <span class="label label-default">绿色</span></a>
        <span class="label label-primary">汉子</span>
        <span class="label label-success">马儿</span>
        <span class="label label-info">摆上</span>
        <span class="label label-warning">国家</span>
        <span class="label label-danger">灰色</span>
    </div>

    <ul class="list-group" style="width: 100%">
        <?php for($i=0;$i<1;$i++){?>
        <li class="list-group-item  img-box">
            <ul class="list-img-ul">
                <li>
                    <img id="img-<?php echo $i;?>-0" src="<?php echo STATICROOT;?>/img/a.png"
                         class="list-img" title="点击图片可以看下一张">
                </li>
                <li>
                    <img id="img-<?php echo $i;?>-1" src="<?php echo STATICROOT;?>/img/b.png"
                         class="list-img-hide">
                </li>
                <li>
                    <img id="img-<?php echo $i;?>-2"
                         src="<?php echo STATICROOT;?>/img/11.png" class="list-img-hide">
                </li>
            </ul>
            <div class="page-header" style="margin-top: 1px;margin-bottom: 1px;padding-bottom: 1px">
                <h4 style="margin-top: 1px;margin-left: 8px">
                   <span class="label  label-primary" title="图片总数"
                         style="z-index: 9999">5p</span> <a href="../web/view.php">
                        <small>今天要去坝上看看马儿吃草</small>
                    </a>
                    <span style="float: right;">
                        <span class="label  label-default" style="width: 50px;margin-left: 10px"> <span
                                title="发布时间" class="glyphicon glyphicon-time"></span> 10:12</span>
                    </span>
                </h4>
            </div>
            <div style="width: 100%;height: 40px;padding: 5px 0 0 5px">
                <a href="javascript:void(0)"  id="showdis" style="float: left;width: 200px;margin-top: 10px">评论(22)</a>
                <div role="toolbar" class="btn-toolbar" style="width: 200px;float: right;">
                    <div class="btn-group" style="float: right">
                        <button type="button" class="btn btn-danger btn-sm" id="btn-like">
                            <span class="glyphicon glyphicon-heart"></span>漂亮
                        </button>
                    </div>
                    <span class="label label-danger" id="num-like"
                          style="display:none;height: 30px;float: right;padding-top: 10px"><span class="glyphicon glyphicon-heart"></span>漂亮(120)</span>
                </div>
            </div>
            <ul class="list-group" id="discuss" style="display: none">
                <li class="list-group-item" style="height: 90px;padding: 5px">
                    <form role="form" class="navbar-form navbar-left" style="padding-left: 0;margin-left: 0;width: 99%;float: left">
                        <div class="form-group">
                            <input type="text"  id="rl_exp_input" class="form-control" style="width: 800px" placeholder="最多50个字">
                        </div>
                        <button class="btn btn-success" >评论</button>
                    </form>
                    <div id="reply" style="float: left;width: 24px">
                        <span class="face" id="rl_exp_btn"></span>
                    </div>
                </li>
                <li class="list-group-item">
                    还没有评论！
                </li>
                <li class="list-group-item">
                  <p><a href="">最后的辣椒</a>：彩票君有好多福利巷送给大家 <span style="color: #808080">(9分钟前)</span></p>
                </li>
            </ul>
        </li>
        <?php } ?>
    </ul>
    <ul class="pagination  pagination-lg" style="margin: 0">
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</div>
<div class="rl_exp" id="rl_bq" style="display:none;">
    <ul class="rl_exp_tab clearfix">
        <li><a href="javascript:void(0);" class="selected">默认</a></li>
        <li><a href="javascript:void(0);">拜年</a></li>
        <li><a href="javascript:void(0);">浪小花</a></li>
        <li><a href="javascript:void(0);">暴走漫画</a></li>
    </ul>
    <ul class="rl_exp_main clearfix rl_selected"></ul>
    <ul class="rl_exp_main clearfix" style="display:none;"></ul>
    <ul class="rl_exp_main clearfix" style="display:none;"></ul>
    <ul class="rl_exp_main clearfix" style="display:none;"></ul>
    <a href="javascript:void(0);" class="close">×</a>
</div>
<script type="text/javascript" src="<?php echo STATICROOT;?>/plugin/layer-v1.8.4/extend/layer.ext.js"></script>
<script type="text/javascript" src="<?php echo STATICROOT;?>/plugin/sinaEmotion/jquery.sinaEmotion-1.3.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btn-like').click(function () {
            $('#num-like').show();
            $(this).hide();
        });
        $('.list-img-ul img').click(function () {
//            $(this).attr('class', 'list-img-hide');
//            var id = parseInt($(this).attr('id').split('-')[2]);
//            var listNum = $(this).attr('id').split('-')[1];
//            var nextId = ++id;
//            var next = $('#img-' + listNum + "-" + nextId);
//            if (next && next.length > 0) {
//                $(next).attr('class', 'list-img');
//            } else {
//                $('#img-' + listNum + "-0").attr('class', 'list-img');
//            }
            layer.photos({
                html: '',    //自定义的html，显示在层右侧
                tab: function(obj){}, //图片切换操作的回调，obj返回了图片pid和name
                json: { //您服务端接口需严格按照下述格式返回
                    "status": 1,    //请求的状态，1表示成功，其它表示失败
                    "msg": "",  //状态提示语
                    "title": "",    //相册标题
                    "id": 11,    //相册id
                    "start": 0, //初始显示的图片序号，默认0
                    "data": [   //相册包含的图片，数组格式
                        {
                            "name": "http://127.0.0.1:9999/meizizhi/web/statics/img/0a7b22a80fcb540.jpg", //图片名
                            "pid": 12, //图片id
                            "src": "http://127.0.0.1:9999/meizizhi/web/statics/img/0a7b22a80fcb540.jpg", //原图地址
                            "thumb": "", //缩略图地址
                            "area": [200, 200] //原图宽高
                        },
                        {
                            "name": "http://127.0.0.1:9999/meizizhi/web/statics/img/11.png", //图片名
                            "pid": 13, //图片id
                            "src": "http://127.0.0.1:9999/meizizhi/web/statics/img/11.png", //原图地址
                            "thumb": "", //缩略图地址
                            "area": [656, 417] //原图宽高
                        }
                    ]
                },
                page: { //直接获取页面指定区域的图片，他与上述异步不可共存，只能择用其一。
                    parent: '', //图片的父元素选择器，如'#imsbox',
                    start: 0, //初始显示的图片序号，默认0
                    title: '' //相册标题
                }
            })
        });
        $('#showdis').click(function(){
            var loadi = layer.load(3); //需关闭加载层时，执行layer.close(loadi)即可
            $('#discuss').show();
            $("#rl_exp_input").focus();
            layer.close(loadi);
        });
        $('#rl_exp_btn').sinaEmotion({
            target: $('#rl_exp_input')
        });
    });
</script>