<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title><?php echo $page_title; ?></title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="<?php echo STATICROOT;?>/plugin/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="<?php echo STATICROOT;?>/plugin/scrolltop/special.css" rel="stylesheet" media="screen">
    <link href="<?php echo STATICROOT;?>/css/common.css" rel="stylesheet" media="screen">
    <link href="<?php echo STATICROOT;?>/plugin/sinaEmotion/jquery.sinaEmotion-1.3.css" rel="stylesheet" media="screen">
    <link type="text/css" rel="stylesheet" href="<?php echo STATICROOT;?>/plugin/layer-v1.8.4/skin/layer.ext.css">
    <script type="text/javascript" src="<?php echo STATICROOT;?>/plugin/jquery-1.8.3.min.js"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="<?php echo STATICROOT;?>/plugin/bootstrap/js/bootstrap.js"></script>
    <!-- layer -->
    <script type="text/javascript" src="<?php echo STATICROOT;?>/plugin/layer-v1.8.4/layer.min.js"></script>

</head>
<body>
<div class="container">
    <div class="navbar navbar-inverse   navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed"
                        type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="../web/index.php" class="navbar-brand">
                    <span class="glyphicon glyphicon-fire" style="color: red"></span>
                    <span style="color: #fff">测试用</span>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav ">
                    <li class="<?php echo $active;?>"><a href="../web/meizi.php">三国志</a></li>
                </ul>
                <ul class="nav navbar-nav  navbar-right">
                    <?php
                    $user=$_SESSION['user'];
                    if(empty($user)){
                    $user_url="login.php";
                    $user_title="我的地盘";
                    ?>
                    <li>
                        <form role="form" class="navbar-form navbar-right">
                            <div class="form-group">
                                <input type="text" id="username" class="form-control" placeholder="邮箱或手机号">
                            </div>
                            <div class="form-group">
                                <input type="password" id="password" class="form-control" placeholder="密码">
                            </div>
                            <button class="btn btn-success" id="signRegBtn" type="button">登录/注册</button>
                        </form>
                    </li>
                    <?php }else{
                        $user_title=$user['username'];
                        $user_url="userspace.php";
                    } ?>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" style="color: #e4e0f5" href="#">
                            <?php echo $user_title; ?>
                            <span class="caret"></span>
                        </a>
                        <ul role="menu" class="dropdown-menu">
                            <!--<li><a href="<?php echo $user_url; ?>">进入空间</a></li>-->
                            <!--<li><a href="#">账号信息</a></li>-->
                            <!--<li class="divider"></li>-->
                            <?php if(empty($user)){?>
                            <li><a href="javascript:void(0)">你还未登录</a></li>
                            <?php }else{?>
                            <li><a href="javascript:void(0)" id="logout_btn">注销</a></li>
                            <?php } ?>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#signRegBtn').click(function () {
            var username = $('#username').val();
            if (!username) {
                window.location.href = "login.php";
            } else {
                login($(this));
            }
        });
        $('#logout_btn').click(function () {
           logout($(this));
        });

    });
    function login(obj) {
        var username = $('#username').val();
        var password = $('#password').val();
        var param = {};
        param.user = username;
        param.password = password;
        $.ajax({
            type: "post",
            dataType: "json",
            url: '../action/user.php?ac=login',
            data: param,
            error: function (resp) {
                layer.tips('抱歉网络错误，请稍后再试', obj, {guide: 2, time: 2});
            },
            success: function (resp) {
                if (!resp) {
                    layer.tips('系统故障，请稍后再试', obj, {guide: 2, time: 2});
                    return;
                }
                var status = resp['status'];
                if (status == 0) {
                    layer.tips(resp['msg'], obj, {guide: 2, time: 2});
                } else {
                    location.reload();
                }
            }
        });
    }
    function logout(obj){
        $.ajax({
            type: "post",
            dataType: "json",
            url: '../action/user.php?ac=logout',
            data: {},
            error: function (resp) {
                layer.tips('抱歉网络错误，请稍后再试', obj, {guide: 2, time: 2});
            },
            success: function (resp) {
                if (!resp) {
                    layer.tips('系统故障，请稍后再试', obj, {guide: 2, time: 2});
                    return;
                }
                var status = resp['status'];
                if (status == 0) {
                    layer.tips('注销失败，请稍后再试', obj, {guide: 2, time: 2});
                    return;
                } else {
                    location.reload();
                }
            }
        });
    }
</script>
