<div class="container" style="margin-top: 60px">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">今天去放牛吗啊啊</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <?php for($i=0;$i<5;$i++){?>
                <li class="list-group-item" style="border: none;padding: 3px;text-align: center">
                    <img src="<?php echo STATICROOT;?>/img/dbdfbcebd43deaf.jpg" style="max-width: 960px;">
                </li>
                <?php } ?>
            </ul>

        </div>
    </div>

</div>