body, ul, li, ol, dl, dd, dt, caption, pre, blockquote, input, textarea, img, small, form, iframe {
    margin: 0;
    padding: 0;
    font-family: Helvetica, "Helvetica Neue", Arial, "微软雅黑", Tahoma, "宋体", sans-serif;
    color: #232323
}

.common-font {
    font-family: Helvetica, "Helvetica Neue", Arial, "微软雅黑", Tahoma, "宋体", sans-serif !important;
}

.bs-docs-footer {
    border-top: 1px solid #e5e5e5;
    color: #777;
    margin-top: 40px;
    padding-bottom: 10px;
    padding-top: 20px;
    text-align: center;
}

.img-box {
    width: 100%;
    padding: 5px 5px 1px 5px;
}

.list-img {
    text-align: center;
    max-width: 90%;
    max-height: 700px;
    padding: 10px;
    cursor: pointer;
}

.list-img-ul {
    list-style: none;
}
.list-img-hide {
    cursor: pointer;
    display: none;
}
.face{
    background-image: url("../img/smiley24.png?id=20140717181900");
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 24px;
    cursor: pointer;
}
.face:hover{
    background-image: url("../img/smiley24_2.png?id=20140717181900");
}
.p-tag{
    padding: 3px;
}